{% extends "base.html.twig" %}

{% block body %}
    <h2 class="text-center">{% trans %}registrationDone{% endtrans %}. <a href={{ url('login') }}>{% trans %}login{% endtrans %}</a></h2>
{% endblock %}