{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h2>{{ question.Text }}</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <th>Variable answer</th>
            <th width = "15%">Is correct</th>
        </thead>
        <tbody>
        {% for option in question.questionOptions  %}
            <tr>
                <td>{{ option.text }}   </td>
                <td>{% if option.isValid == 0 %} False {% else %} True {% endif %}    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style = "margin :10px; margin-left: 0;"><a href = "/admin/question"><button class="btn btn-dark" align = "right">Go Back to all question</button></a><br></div>
    </script>
{% endblock %}
