{% extends "base.html.twig" %}

{% block body %}
    <h2>{% trans %}quiz.yourPlace{% endtrans %}: {{ num }}</h2>
    {% trans %}quiz.leaders{% endtrans %}:
    <br><br>
    {% for leader in leaders %}
        <p>{{ leader['username'] }} - {{ leader['score'] }}</p>
    {% endfor %}
{% endblock %}