{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    <a href ="/admin/user"> <button type="button" class="btn btn-dark">Back to view all user</button></a>
{% endblock %}
